<%- contentFor('body') %>
<div class="grid-container content">
  <div class="user-header">
    <p class="header-title">Funcionários</p>
  </div>
  <table class="table user-table table-info">
    <thead>
      <tr class="field-names">
        <th>Nome</th>
        <th>E-mail</th>
        <th>Cargo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td class="user-value"><%= user.name %></td>
        <td class="user-value"><%= user.email %></td>
        <td class="user-value">
          <%= user.role === 'ADMIN' ? 'Admin' : 'Usuário' %>
        </td>
        <td class="actions">
          <a href="/user/update"><button class="user-edit">Editar</button></a>
          <a href="/user/delete/<%= user.id %>"
            ><button class="user-delete">Excluir</button></a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
